#sjr-tumblr-export textarea.code, #sjr-tumblr-import textarea.code{
	background-color: #23282d;
	color: #eee;
	font-size: 10px;
	height: 232px;
	width: 100%;
}

#sjr-tumblr-export textarea.code.error, #sjr-tumblr-import textarea.code.error{
	height: 68px;
}